captured_packets/
.vscode/
.claude/*
# maybe I should include the memory files as well, not sure
!.claude/agents/
.terraform/
*.tfstate*
*.tfvars
out/
formulatel/cmd/decode/
.omo/
# ignore chart dependencies that we download with `helm dependency build <>`
kubernetes/charts/**/*.tgz
*.out
coverage.*
sandbox.tfvars